.landing-globe-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.landing-text-search-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-content {
  text-align: center;
  pointer-events: auto;
}

.landing-title {
  font-size: 50px;
  font-weight: bold;
  color: var(--text-color);
  margin: 0 0 5px 0;
  background: rgba(213, 214, 220, 0.8);
  padding: 10px;
  border-radius: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.location-search {
  width: 400px;
  padding: 15px;
  border: none;
  border-radius: 50px;
  background: white;
  outline: none;
}

.location-search::placeholder {
  color: var(--placeholder-text-color);
}

.landing-place-picker {
  width: 400px;
}
